@CHARSET "UTF-8";

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

#header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    z-index: 2;
    background-color: #00ccff;
    border-bottom: solid 2px #0099ff;
    display: inline-block;
}

#header_menu {
    padding-top: 14px;
    padding-left: 3%;
    display: inline-block;
}

#header a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    font-size: 30px;
    display: inline;
}

#employee_name {
    font-size: 20px;
    color: #ffffff;
    display: inline-block;
}

#footer {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    z-index: 2;
    background-color: #00ccff;
    border-top: solid 2px #0099ff;
    display: inline-block;
    text-align: right;
}

#footer_menu{
    padding-top: 10px;
    padding-right: 3%;
}

#footer a{
    font-size: 22px;
    color: #ffffff;
    text-decoration:underline;
    text-decoration-color: #ffffff;
}

#flush_success {
    width: 98%;
    padding-top: 20px;
    padding-left: 2%;
    padding-bottom: 20px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
    border: solid 2px #155724;
}

#flush_error {
    width: 98%;
    padding-top: 20px;
    padding-left: 2%;
    padding-bottom: 20px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d7da;
    border: solid 2px #721c24;
}

#content {
    z-index: 1;
    width: 94%;
    margin: 85px auto 65px auto;
}

h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

h3 {
    font-size: larger;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #24738e;
    text-decoration:underline;
    text-decoration-color: #24738e;
}

table, tr, th, td {
    border: 1px solid #cccccc;
}

table {
    width: 100%;
    table-layout: fixed;
}

th {
    width: 26%;
    padding: 10px 2%;
}

td {
    width: 66%;
    padding: 10px 2%;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

select {
    height: 30px;
}

table#employee_list th {
    width: 30%;
    padding: 10px 2%;
}

table#employee_list td {
    width: 29%;
    padding: 10px 2%;
}

tr.row1 {
        background-color: #f2f2f2;
}
tr.row0 {
        background-color: #ffffff;
}

table#report_list th {
    font-weight: bold;
    padding: 10px 2%;
}

table#report_list .report_name {
    width: 20%;
    padding: 10px 2%;
}
table#report_list .report_date {
    width: 22%;
}

table#report_list .report_title {
    width: 20%;
}

table#report_list .report_action {
    width: 23%;
}

table#report_list .report_working {
    width: 24%;
}

table#report_list .report_approval {
    width: 16%;
}

pre {
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}
